include README.rst
include CHANGELOG.rst
include pyexcel_handsontable/templates/*.html
include pyexcel_handsontable/templates/registry.json
include pyexcel_handsontable/templates/pyexcel-handsontable/*.js
include pyexcel_handsontable/templates/pyexcel-handsontable/*.css
